<h1>Editing Notasalumnoasignatura</h1>

<%= render 'form', notasalumnoasignatura: @notasalumnoasignatura %>

<%= link_to 'Show', @notasalumnoasignatura %> |
<%= link_to 'Back', notasalumnoasignaturas_path %>
