<% provide(:title, @usuario.ApellInfPer + @usuario.ApellMatInfPer) %>
<% provide(:button_text, 'Guardar cambios') %>
<div class="row bg-light">
		<section>
			<p>
				<h3>Cambiar password</h3>
			</p>
		
			<%= render 'formreset' %>
		</section>
	
</div>
