<br>
<br>
<div class="row">

<div class="text-center">

<%= image_tag("matricula2018a.jpg", alt: "Rails logo") %>
	
  <h1>Bienvenidos</h1>

  <h2>
    <p> Universidad Técnica Luis Vargas Torres </p>
  </h2>

  <%#= link_to "Matricúlate ahora!", login_path, class: "btn btn-lg btn-success" %>
</div>
</div>
